{% include 'base.html' %}


  <div class="product-details-container">
    
    <div class="product-details-image" style="--product-image: url({{ product.product_image.url }});">
      
    </div>

    <div class="product-details-details">
      <h1>{{ product.product_name }}</h1>
      <p class="details-price">${{ product.product_price }}</p>
      <p class="details-description">{{ product.product_details }}</p>

      {% if request.user.is_authenticated %}
      {% if product.pk in cart %}
      <a href="{% url 'ecommerce:go_to_cart' %}"><button class="add-to-cart-btn" style="background-color: #ff6f61;">Go to Cart</button></a>
      {% else %}
      <a href="{% url 'ecommerce:add_to_cart' product.pk %}"><button class="add-to-cart-btn">Add to Cart</button></a>
      {% endif %}
      {% endif %}

      {% if not request.user.is_authenticated %}
      <a href="{% url 'ecommerce:login_user' %}"><button class="add-to-cart-btn">Login to Add to Cart</button></a>
      {% endif %}
    </div>
  </div>


